:root {
  --border-radius: 30px;
  --color-accent: #ff3400;
  --color-body-darker: #5c5577;
  --color-body: #918ca4;
  --color-border: #ccc;
  --color-headings: #1b0760;
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
/* NB: Setting 62.5% of the root html font-size(16px) sets the root font-size to 10px */
::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--color-body);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.5;
  /* background-image: url('../images/background.webp'); */
  background-size: 100vw 100vh;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  line-height: 1.1;
  margin-bottom: 1rem;
}


/* 7rem multiplies with the root html font-size i.e 16(62.5%)=10px to give 70px which gives a uniform font size of 70px across all device types relative to their screen resolutions */
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

h1, .title {
  align-items: center;
  font-size: 4rem;
  font-weight: 600;
  justify-content: space-between;
  padding-left: 3rem;
  text-align: center;
  margin: 4rem;
}

 .login--container .login__subtitle {
  font-size: 3rem;
  font-weight: 600;
  text-emphasis: 500;
  text-align: center;
  text-transform: capitalize;
  padding: 0;
}

/* Forms */
label {
  display: block;
}

button {
  background: #0d6efd;
  color: #fff;
  border: 0;
  padding: 0.5rem 0.7rem;
  border-radius: 5px;
  outline: 0;
}

.form-group > input[type='text'],
.form-group > input[type='email'],
.form-group > input[type='password']
 {
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 1rem 1rem;
  transition: border-color 0.15s, box-shadow 0.15s;
}

.form-group > input[type='text']:focus,
.form-group > input[type='email']:focus,
.form-group > input[type='password']:focus
{
  border-color: #7db0fb;
  outline: 1;
  box-shadow: 0 0 0 6px rgba(24, 117, 255, 0.25);
}

.login--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login--container {
  padding: 2rem;
}

.form__items .form-group {
  margin-bottom: 1rem;
}


/* Links */
a {
  text-decoration: none;
}

.link-arrow {
  color: var(--color-accent);
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  fill: var(--color-primary);
}

.icon--white {
  fill: #fff;
}

.icon-container {
  align-items: center;
  background: #f3f9fa;
  border-radius: 100%;
  display: inline-flex;
  height: 64px;
  justify-content: center;
  width: 64px;
}

.icon-container--accent {
  background: var(--color-accent);
}

/* Buttons */
.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4vw;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn .icon {
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
  width: 2rem;
}

.btn--primary {
  background: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background: #045ed3;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background: #04bedf;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #fa4d20;
}

.btn--outline {
  background: #fff;
  border: 3px solid var(--color-headings);
  color: var(--color-headings);
}

.btn--outline:hover {
  background: var(--color-headings);
  color: #fff;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

/* Inputs */

.input {
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  color: var(--color-headings);
  font-size: 2rem;
  outline: 0;
  padding: 1.5rem 3.5rem;
}

::placeholder {
  color: #cdcbd7;
}

.input-group {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 2rem;
  width: 0;
}

.input-group .btn {
  margin: 4px;
}

@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}
