<body>
    <header>
        <h1 class="title">Welcome to HCC Startup Challenge</h1>
    </header>

    <section class="login--container">
        <div class="login__items">
            <h2 class="login--container login__subtitle">Admin Login</h2>

            <form class="form__items">
                <div>
                    <label for="username">Username</label>
                    <input id="username" type="text">
                </div>

                <div>
                    <label for="email">Email</label>
                    <input id="email" type="email">
                </div>

                <div>
                    <label for="password">Password</label>
                    <input id="password" type="password">
                </div>

                <button type="submit">Login</button>
                <button type="reset">Clear</button>
            </form>

        </div>
    </section>
</body>